.preorderWrapper {
    width: 450px;
}

.preorderWrapper > p {
    margin-top: 15px;
    font-family: Nunito, sans-serif;
    color: var(--color-dark-green);
}

.preorderForm {
    display: flex;
    flex-direction: column;
    font-family: Nunito, sans-serif;
    color: var(--color-dark-green);
    font-size: 18px;
}

.preorderForm > label {
    margin-top: 20px;
    margin-bottom: 8px;
    color: var(--color-dark-green);
}


.preorderForm > input {
    border: 1px solid var(--color-light-green);
    border-radius: 10px;
    height: 32px;
    padding-left: 15px;
}
.preorderForm input {
    border: 1px solid var(--color-light-green);
}

.preorderForm textarea {
    border: 1px solid var(--color-light-green);
    border-radius: 10px;
    height: 64px;
    padding-left: 15px;
    line-height: 32px;
    resize: none;
}

.preorderForm > div {
    margin-top: 5px;
}

.preorderForm input[type='radio'] {
    margin-right: 15px;
}

.privacyLabel span {
    text-decoration: underline;
    cursor: pointer;
}

.preorderForm input[type='submit'] {
    margin-top: 30px;
    color: var(--color-dark-green);
}

.preorderForm input[type='submit']:disabled {
    cursor: default;
}

@media screen and (max-width: 1000px) {
    .preorderWrapper {
        width: 100%;
    }

    .preorderForm {
        font-size: 16px;
    }

    .preorderForm > label {
        margin-top: 10px;
    }
}
