.deliveryWrapper {
    width: 700px;
    height: 600px;
    overflow-y: scroll;
    font-family: Nunito, sans-serif;
    color: var(--color-dark-green);
    font-size: 18px;
    white-space: break-spaces;
}

.deliveryWrapper p {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 22px;
}

.deliveryWrapper p:not(:first-child) {
    margin-top: 15px;
}

.deliveryWrapper pre {
    white-space: pre-wrap;
    font-family: Nunito, sans-serif;
}

.deliveryWrapper pre a {
    color: var(--color-dark-green);
    text-decoration: underline;
}

.deliveryWrapper pre a:visited {
    color: var(--color-dark-green);
}
