.historyBlockWrapper {
    min-height: 800px;
    background-color: var(--color-light-green);
    padding: 30px 0;
}

.historyBlockWrapper h3 {
    font-family: KoskoBold, sans-serif;
    font-size: 50px;
    text-align: center;
    color: var(--color-light);
    position: relative;
}

.historyBlockWrapper h3:before,
.historyBlockWrapper h3:after {
    content: "";
    width: calc(100dvw / 2 - 200px);
    height: 1px;
    background-color: var(--color-light);
    position: absolute;
    top: 50%;
}

.historyBlockWrapper h3:before {
    left: 0;
}

.historyBlockWrapper h3:after {
    right: 0;
}

.bookDescriptionWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row-reverse;
    gap: 10px;
    margin-top: 50px;
}

.bookDescription {
    padding: 60px 30px 30px 60px;
    width: 50%;
    max-width: 800px;
    border-radius: 20px;
    border: 1px solid var(--color-dark-green);
    background-color: var(--color-light);

}

.bookDescriptionWrapper img {
    width: auto;
    max-height: 600px;
    border: 1px solid var(--color-yellow);
    border-radius: 20px;
    margin: auto 0;
}

.bookDescription .quotes {
    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 100px;
    font-family: Nunito, sans-serif;
    color: var(--color-dark-green);
}

.bookDescription h4 {
    color: var(--color-dark-green);
    font-size: 40px;
    line-height: 45px;
    font-family: Nunito, sans-serif;
}

.bookDescription h5 {
    display: block;
    color: var(--color-dark-green);
    font-size: 25px;
    line-height: 33px;
    font-family: Nunito, sans-serif;
}

.bookDescription h5 span {
    font-size: 20px;
    line-height: 20px;
}

.bookDescription .targetDate {
    margin-top: 30px;
    font-family: Nunito, sans-serif;
    color: #494711;
    font-size: 18px;
}

.bookDescription .preorderButton {
    margin-top: 10px;
    width: 100%;
    background-color: var(--color-yellow);
    height: 45px;
    border-radius: 20px;
    font-family: Nunito, sans-serif;
}

.bookDescription .bookDescriptionText p:first-child {
    margin-top: 30px;
}

.bookDescription .bookDescriptionText {
    font-family: Nunito, sans-serif;
    color: var(--color-dark-green);
    padding-right: 70px;
    margin-top: 30px;
}

.bookDescription .bookDescriptionReadMoreButton {
    font-family: Nunito, sans-serif;
    color: #7F7F7F;
    text-decoration: underline;
    margin-top: 15px;
}

.bookDescription .reviewBlock {
    color: #A1AC2B;
    font-family: Nunito, sans-serif;
    margin-top: 50px;
}

.bookDescription .reviewBlock a {
    text-decoration: underline;
    color: #A1AC2B;
}
