.historyBlockWrapper {
    min-height: 800px;
    background-color: var(--background);
    padding: 30px 0;
}

.historyBlockWrapper h3 {
    font-family: KoskoBold, sans-serif;
    font-size: 50px;
    text-align: center;
    color: var(--color-main);
    position: relative;
}

.historyBlockWrapper h3:before,
.historyBlockWrapper h3:after {
    content: "";
    width: calc(100dvw / 2 - 200px);
    height: 1px;
    background-color: var(--color-main);
    position: absolute;
    top: 50%;
}

.historyBlockWrapper h3:before {
    left: 0;
}

.historyBlockWrapper h3:after {
    right: 0;
}
