.tooltipWrapper {
    position: relative;
    animation-timing-function: ease;
}

.tooltipText {
    position: absolute;
    text-align: center;
    min-width: 170px;
    top: -30px;
    left: -100%;
    background-color: var(--color-light);
    padding: 4px;
    border-radius: 8px;
    color: var(--color-dark-green);
    font-family: Nunito, sans-serif;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
