@font-face {
    font-family: "Nunito";
    src: url("/src/assets/fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: "KoskoBold";
    src: url("src/assets/fonts/KoskoBold-Bold.ttf");
}

.openModal {
    overflow-y: hidden;
}
